@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Josefin+Sans:wght@400;700&family=Jost:wght@400;700&family=Roboto:wght@400;700&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

:root {
    --nav-color: #3b3b3b;
    --primary-color: #202020;
    --secondary-color: #11191f;
    --nav-items-color: #ffe8cb;
    --borders-color: #dba36a;
    --yellow-heading-color :#dfb57a;
    --primary-paragraph-color: #b4b4b4;
    --secondary-paragraph-color: #8f8c8a;
    --services-section-color: #f5f1ec;
    --brands-section-color: #ffe9d1;
}

/* ASSETS */

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding: 20px;
}

/* NAVBAR */

nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    align-items: center;
    height: 84px;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 0.1px solid whitesmoke;
    z-index: 10;
    position: sticky;
    top: 0px;
}

nav.navbar img.nav-logo {
    width: 70%;
    width: 132px;
    height: 33px;
}

nav.navbar ul.nav-items {
    display: flex;
    margin-left: 250px;
}

nav.navbar ul.nav-items li a {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 30px 15px;
}

nav.navbar ul.nav-items li a.active {
    border-bottom: 3px solid var(--borders-color);
}

nav.navbar ul.nav-items li a:hover {
    border-bottom: 3px solid var(--borders-color);
}

nav.navbar ul.nav-items li {
    list-style: none;
}

nav.navbar button.btn a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

nav.navbar button.btn {
    border: 1px solid var(--borders-color);
    border-radius: 5px;
    padding: 18px 40px;
    background-color: transparent;
}

/* HERO SECTION */

section.hero-section {
    height: 95vh;
    background-image: url(../images/hero-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.hero-section div.container {
    padding-top: 80px;
}

section.hero-section div.hero-content h3.yellow-heading {
    font-family: 'Sacramento', sans-serif;
    font-size: 35px;
    color: var(--yellow-heading-color);
}

section.hero-section div.hero-content h1.main-heading {
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
}

section.hero-section div.hero-content button.btn a {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

section.hero-section div.hero-content button.btn {
    border: 2px solid var(--borders-color);
    border-radius: 5px;
    padding: 18px 40px;
    background-color: transparent;
    margin-top: 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

section.hero-section div.hero-content button.btn:hover {
    transform: translateY(-10px);
}

/* ABOUT SECTION */

section.about-section {
    background-color: var(--primary-color);
}

section.about-section div.about-content {
   display: flex;
   gap: 70px;
   padding-top: 100px;
   padding-bottom: 80px;
}

section.about-section div.about-content div.image-area img {
    width: 550px;
    height: 366px;
}

section.about-section div.about-content div.content-area h3.yellow-heading {
    color: var(--yellow-heading-color);
    font-size: 36px;
    font-family: 'Sacramento', sans-serif;
    font-weight: 400;
}

section.about-section div.about-content div.content-area h1.main-heading {
    color: white;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 20px 0px;
}

section.about-section div.about-content div.content-area p.p1 {
    color: var(--primary-paragraph-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
}

section.about-section div.about-content div.content-area p.p2 {
    color: var(--secondary-paragraph-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
}

section.about-section div.about-content div.content-area button.btn a {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

section.about-section div.about-content div.content-area button.btn {
    border: 2px solid var(--borders-color);
    border-radius: 5px;
    padding: 18px 40px;
    background-color: transparent;
    margin-top: 25px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

section.about-section div.about-content div.content-area button.btn:hover {
    transform: translateY(-10px);
}

/* ATMOSPHERE SECTION */

section.atmosphere-section {
    background: var(--secondary-color);
    padding: 60px 0px;
}

section.atmosphere-section div.content ul.qualities {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

section.atmosphere-section div.content ul.qualities li img {
    border-radius: 50%;
    padding: 30px;
    background-color: black;
}

section.atmosphere-section div.content ul.qualities li {
    text-align: center;
}

section.atmosphere-section div.content ul.qualities li h1 {
    color: var(--nav-items-color);
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

section.atmosphere-section div.content ul.qualities li h1#third {
    margin-top: 47px;
}

section.atmosphere-section div.content ul.qualities li p {
    color: var(--nav-items-color);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* DISCOVER SECTION */


section.discover-section {
    background-color: var(--primary-color);
}

section.discover-section div.discover-content {
   display: flex;
   gap: 70px;
   padding-top: 100px;
   padding-bottom: 80px;
}

section.discover-section div.discover-content div.image-area img {
    width: 556px;
    height: 450px;
}

section.discover-section div.discover-content div.content-area h3.yellow-heading {
    color: var(--yellow-heading-color);
    font-size: 36px;
    font-family: 'Sacramento', sans-serif;
    font-weight: 400;
}

section.discover-section div.discover-content div.content-area h1.main-heading {
    color: white;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 20px 0px;
}

section.discover-section div.discover-content div.content-area p.p1 {
    color: var(--primary-paragraph-color);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
}

section.discover-section div.discover-content div.content-area ul li {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5em;
    list-style: none;
    line-height: 2.5em;
}

section.discover-section div.discover-content div.content-area button.btn a {
    text-decoration: none;
    color: var(--nav-items-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

section.discover-section div.discover-content div.content-area button.btn {
    border: 2px solid var(--borders-color);
    border-radius: 5px;
    padding: 18px 40px;
    background-color: transparent;
    margin-top: 25px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

section.discover-section div.discover-content div.content-area button.btn:hover {
    transform: translateY(-10px);
}

section.discover-section div.discover-content div.content-area ul li i {
    color: var(--yellow-heading-color);
    margin-right: 10px;
}

/* SERVICES SECTION */

section.services-section {
    padding: 50px 0px;
    background-color: var(--services-section-color);
}

section.services-section div.services-content ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

section.services-section div.services-content ul li {
    list-style: none;
    display: flex;
    gap: 20px;
}

section.services-section div.services-content ul li img {
    width: 67px;
    height: 67px;
}

section.services-section div.services-content ul li p span {
    font-size: 21px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: black;
}

section.services-section div.services-content ul li p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #8F8C8A;
    margin-right: 20px;
}

/* BRAND SECTIONN */

section.brands-section {
    padding: 50px 0px;
    background-color: var(--brands-section-color);
}

section.brands-section div.brands-content ul {
    display: flex;
    gap: 150px;
    justify-content: center;

}

section.brands-section div.brands-content ul li {
    list-style: none;
}
section.brands-section div.brands-content ul li img {
    width: 145px;
    height: 34px;
}

/* CHEFS SECTION */

section.chefs-section {
    background-color: #11191F;
    padding: 60px 0px;
}

section.chefs-section div.chefs-content h2 {
    color: var(--yellow-heading-color);
    font-family: 'Sacramento', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

section.chefs-section div.chefs-content h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

section.chefs-section div.chefs-content ul {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

section.chefs-section div.chefs-content ul li {
    list-style: none;
}

section.chefs-section div.chefs-content ul li img {
    width: 350px;
    height: 233px;
    border-radius: 20px;
}

section.chefs-section div.chefs-content ul li h3 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    padding: 10px 0px;
}

section.chefs-section div.chefs-content ul li h4 {
    color: #8F8C8A;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

section.chefs-section div.chefs-content ul li i {
    padding: 10px;
    border-radius: 50%;
    color: #818A91;
    background-color: #F5F1EC;
    margin: 0px 3px;
}

section.chefs-section div.chefs-content ul li i:hover {
    background-color: var(--borders-color);
    color: white;
}

/* FOOTER AREA */

footer {
    background-color: #3b3b3b;
    padding: 50px 0px;
}

footer div.footer-content{
    display: flex;
    justify-content: space-between;
}

footer div.footer-content div.logo-area {
    margin-right: -30px;
}

footer div.footer-content div.logo-area a img {
    width: 230px;
    height: 57px;
}

footer div.footer-content div.logo-area p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--nav-items-color);
    padding: 30px 0px;
}

footer div.footer-content div.logo-area i {
    padding: 10px;
    color: var(--yellow-heading-color);
    border: 1px solid var(--borders-color);
    border-radius: 50%;
    margin: 0px 3px;
}

footer div.footer-content div.pages-area h1 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    color: var(--nav-items-color);
    padding-bottom: 40px;
}

footer div.footer-content div.pages-area ul li {
    list-style: none;
    padding: 10px 0px;
}

footer div.footer-content div.pages-area ul li a {
    text-decoration: none;
    color: var(--nav-items-color);
}

footer div.footer-content div.contact-area h1 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    color: var(--nav-items-color);
    padding-bottom: 40px;
}

footer div.footer-content div.contact-area p {
    color: var(--nav-items-color);
    font-size: 16px;
    padding: 5px 0px;
}

footer div.footer-content div.gallery-area h1 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    color: var(--nav-items-color);
    padding-bottom: 40px;   
}

footer div.footer-content div.gallery-area ul li {
    list-style: none;
    display: inline-block;
}

footer div.footer-content div.gallery-area ul li img {
    width: 55px;
    height: 36px;
    border-radius: 5px;
    margin: 2px 2px;
}