.box1 {
    border: 1px solid;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    position: sticky;
    top: 10px;

}

.box2 {
    border: 1px solid;
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: sticky;
    bottom: 10px;
}