#box {
    border: solid;
    width: 250px;
    height: 250px;
    font-size: 200px;
    text-align: center;
    background: linear-gradient(to left, lightblue, white);
    animation: scale;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes scale {
    50%{
        transform: scale(0.9);
    }
}