.box {
    background-color: red;
    color: white;
    font-size: 50px;
    display: none;
    text-align: center;
}

@media (max-width:300px) {
    #box1 {
        display: block;
        background-color: cyan;
    }
}
@media (min-width:300px) and (max-width:500px) {
    #box2 {
        display: block;
        background-color: blueviolet;
    }
}

@media (min-width:500px) and (max-width:800px) {
    #box3 {
        display: block;
        background-color: bisque;
    }
}

@media (min-width:800px) and (max-width: 1100px) {
    #box4 {
        display: block;
        background-color: darkolivegreen;
    }
}